.one{
    text-align: center;
    background-color: black;
    color: white;
}
.two{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.three{
    font-size: large;
    
}
.four{
    background-color: cornsilk;
    padding: 5%;
}